body {
    text-align: center;
    font-family: Helvetica, sans-serif;
}
h1 {
    font-size: 42px;
}

/* Botões */

#buttons-container button {
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
}

/* Jogo */
#container {
    display: flex;
    width: 300px;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.box {
    height: 100px;
    border: 5px solid #000;
    box-sizing: border-box;
    flex: 1 1 33%;
}

#box1, #box2, #box3 {
    border-top: none;
}
#box1, #box4, #box7 {
    border-left: none;
}
#box3, #box6, #box9 {
    border-right: none;
}
#box7, #box8, #box9 {
    border-bottom: none;
}

/* Símbolos */

.x {
    font-size: 65px;
    color: red;
    display: inline-block;
    line-height: 100px;
}
.o {
    width: 50px;
    height: 50px;
    border: 5px solid green;
    border-radius: 50%;
    display: inline-block;
    margin-top: 17px;
}



.hide {
    display: none !important;
}


/* Placar */

#scoreboard-container {
    font-weight: bold;
    margin-top: 30px;
    font-size: 25px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.score-box {
    margin: 0 20px;
}
#x-scoreboard {
    color: red;
    margin-right: 3px;
}
#o-scoreboard {
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 2px solid green;
    border-radius: 50%;
    margin-right: 3px;
}

/* msg de vitória */

#message p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 150px;
    width: 500px;
    font-size: 50px;
    background-color: #000;
    color: #FFF;
    padding: 20px;
}